VITE_API_BASE_URL=http://localhost:8080
VITE_FIREBASE_PROJECT_ID=nomina-docente-prod
VITE_FIREBASE_APP_ID=1:443985127112:web:b189dd630e1e51b99ba7fd
VITE_FIREBASE_STORAGE_BUCKET=nomina-docente-prod.firebasestorage.app
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=nomina-docente-prod.firebaseapp.com
VITE_FIREBASE_MESSAGING_SENDER_ID=443985127112
