NODE_ENV=development
PORT=8080
GCP_PROJECT_ID=nomina-docente-prod
FIREBASE_PROJECT_ID=nomina-docente-prod
ALLOWED_EMAIL_DOMAIN=tecplayacar.edu.mx
CORS_ORIGINS=http://localhost:5173,https://nomina-docente-prod.web.app,https://nomina-docente-prod.firebaseapp.com

DB_NAME=nomina_docente
DB_USER=app_nomina
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
INSTANCE_CONNECTION_NAME=nomina-docente-prod:us-central1:nomina-docente-web
CONSTANCIAS_BUCKET=nomina-docente-prod-constancias
